

.contenedor {
    width: 286px;
    height: 300px;
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.404);
}

.contenedor > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5px;
}
.amarillo{
    width: 95px;
    height: 95px;
    background-color: #B8860B;
    position: relative;
    z-index: 1;
}

.esmeralda{
    width: 95px;
    height: 95px;
    background-color: #008B8B;
    position: relative;
    left: 60px;
    bottom: 35px;
    z-index: 0;
}

.musgo{
    width: 95px;
    height: 95px;
    background-color: #194123;
    position: relative;
    left: 120px;
    bottom: 70px;
    z-index: 2;
}

.rojo{
    width: 95px;
    height: 95px;
    background-color: #8B0000;
    position: relative;
    left: 180px;
    bottom: 105px; 
    z-index:0; 
}