@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.contenedor{
    width: 170px;
    background-color: rgb(223, 213, 213);
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 50px;
    right: 50px;

    padding: 3px;
}

i{
    color: green;
}

p{
    font-family: 'Roboto', sans-serif;
}
