.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 360px;
    height: 360px;
    border: 1px solid black;
    padding: 20px;
}

.gris {
    width: 100px;
    height: 100px;
    background-color: rgb(85, 83, 83);
    margin: 10px;
}

.rojo {
    width: 60px;
    height: 60px;
    background-color: rgb(124, 4, 4);
}

.rojo2{
    position: relative;
    top: 40px;
}

.rojo3{
    position: relative;
    left: 40px;
    top: 40px;
}

.rojo4{
    position: relative;
    top: 40px;
}

.rojo5{
    position: relative;
    left: 40px;
}

.rojo6{
    position: relative;
    left: 40px;
    top: 40px;
}

.rojo7{
    position: relative;
    left: 20px;
}

.rojo8{
    position: relative;
    left: 20px;
    top: 40px;
}

.rojo9{
    position: relative;
    left: 20px;
    top: 20px;
}

.verde {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 65, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.verde1{
    position: relative;
    left: 70px;
    top: 70px;
}

.verde2{
    position: relative;
    left: 70px;
    bottom: 40px;

}

.verde3{
    position: relative;
    left: 30px;
    bottom: 40px;
}

.verde4{
    position: relative;
    top: 30px;
    left: 30px;
}

.verde5{
    position: relative;
    top: 30px;
}

.verde6{
    position: relative;
    left: 30px;
}

.verde7{
    position: relative;
    right:20px;
    top: 70px;
}

.verde8{
    position: relative;
    left: 15px;
    top: 30px;
}

.verde9{
    position: relative;
    left: 15px;
    top: 15px;
}